@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.card-text small{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.footer_section{
    background-color: #161616;
}
.social_icons i{
    font-size: 25px;
    padding: 0px 8px;
    cursor: pointer;
}
.carousel-item{
    position: relative;
}
.carousel-item:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background:rgba(29, 29, 29, 0.7);
}
.navbar-expand-lg .navbar-collapse{
    justify-content: center;
}
.mobile_btn{
    display: none;
}


@media screen and (max-width:576px) {
    .card_img{
        width: 100% ;
    }
    .mobile_width{
        width: 100% !important; 
    }
    .carousel-item h1{
        font-size: 20px;
        line-height: 30px;
    }
    .carousel-item p{
        font-size: 12px;
        line-height: 18px;
    }
    .carousel-item img{
        height: 262px;
    }
    .desktop-btn{
        display: none;
    }
    .mobile_btn{
        display: block;
    }
}